

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{{ asset('bundles/landing/content/style1.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{{ asset('bundles/landing/content/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->

</head>
<body>
	<div class="main">
		
		


		<div class="w3layouts_main_grids">
		<h1><img src="{{ asset('bundles/admin/img/logo.png') }}" width="50px;" class="main_logo" alt=""> MEDICOS.SV</h1>
		<br>
			<div class="w3_main_grid_left">
				<div class="w3l_main_grid">
					<h2>404</h2>
				</div>
				<h3>Página no encontrada</h3>	
				<div class="w3ls_form">

				</div>
			</div>
			<div class="w3_main_grid_right w3_agileits_grid_right">
				<h3>Sentimos las molestias...</h3>
				<p>Es posibles qué el contenido qué estás buscando no esté relacionado al sitio de MEDICOS.SV.</p>
				<div class="agileits_main_grid">
					<div class="agileits_main_grid_left">
						<h4>Siguenos en:</h4>
					</div>
					<div class="agileits_main_grid_right">
						<ul class="agileinfo_social">
							<li>
								<a class="wthree_facebook" href="https://www.facebook.com/medicosqueseven" target="_blank"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a class="agile_twitter" href="https://twitter.com/SvMedicos" target="_blanck"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>

						</ul>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
		<div class="agileits_copyright">
			<p> © 2017 Medicos.sv | Todos los derechos reservados  <a href="https://medicos.sv/"> Medicos.sv</a></p>
		</div>
	</div>
</body>
