<h4>Acerca de</h4>
<p>
    Medicos.sv. EMR 
</p>
<ul class="list-unstyled address-list">
    <li class="clearfix address">
        <i class="fa fa-home"></i>
        San Salvador. El Salvador
    </li>
    <li class="clearfix">
        <i class="fa fa-phone"></i>
       (503) 2222-4343
    </li>
    <li class="clearfix">
        <i class="fa fa-mobile"></i>
        (503) 72616977
    </li>
    <li class="clearfix">
        <i class="fa fa-envelope"></i>
        <a href="mailto:info@yourhospitalsite.com">info@yourhospitalsite.com</a>
    </li>
</ul>