<div class="row">
    
    <div class="col-sm-6 col-xs-12">
        <ul class="list-unstyled list-inline">
            <li><a href="mailto:care@yourhosptialsname.com">
                    <i class="fa fa-envelope-o"></i>
                    care@yourhosptialsname.com
                </a></li>
            <li><i class="fa fa-phone"></i> Call Us: 1-800-123-4567</li>
        </ul>
    </div>
    <div class="col-sm-6 col-xs-12 right">
        <form   id="busqueda_global" action="{{ path('web_homepage') }}" method="GET" class="">
        <div class="input-group">
             <input name="b" type="text" class="form-control" placeholder="Buscar médicos, hospitales, farmacias, proveedores">
                 <span class="input-group-btn">
                 <button type="submit" form="busqueda_global" class="btn btn-info">Buscar</button>
             </span>
         </div><!-- /input-group -->
       </form> 
    </div>
</div>