<h4>Contáctanos</h4>
<ul class="list-unstyled address-list">
    <li class="clearfix">
        <i class="fa fa-phone"></i>
        (503) 2130-6359
    </li>
    <li class="clearfix">
        <i class="fa fa-mobile"></i>
        (503) 7261-6977
    </li>
    <li class="clearfix">
        <i class="fa fa-envelope"></i>
        <a href="mailto:info@medicos.sv">info@medicos.sv</a>
    </li>
</ul>