<h4>Redes sociales</h4>
<ul class="list-unstyled tweets-list">
    <li>
        <i class="fa fa-facebook"></i>
        Facebook. Oficial.
        <a href="#">http://t.co/xyz12abc</a>
    </li>
    <li>
        <i class="fa fa-twitter"></i>
        Twitter. Oficial.<br>
        <a href="#">http://t.co/testlink</a>
    </li>
    <li>
        <i class="fa fa-youtube"></i>
        YouTube. Oficial.<br>
        <a href="#">http://t.co/abc123link</a>
    </li>
    <li>
        <i class="fa fa-linkedin"></i>
       Linkedin. Oficial<br>
        <a href="#">http://t.co/xyz-test1</a>
    </li>
</ul>