<div class="row">
    
    <div class="col-sm-6 col-xs-12">
        <ul class="list-unstyled list-inline">
            <li><a href="mailto:info@medicos.sv">
                    <i class="fa fa-envelope-o"></i>
                    info@medicos.sv
                </a></li>
            <li><i class="fa fa-phone"></i> Llámenos al: 2130-6359</li>
        </ul>
    </div>
    <div class="col-sm-6 col-xs-12 right">
        <form   id="busqueda_global" action="{{ path('web_homepage') }}" method="GET" class="">
        <div class="input-group">
             <input name="b" type="text" class="form-control" placeholder="Buscar médicos, clínicas o especialidades ">
                 <span class="input-group-btn">
                 <button type="submit" form="busqueda_global" class="btn btn-info">Búscar</button>
             </span>
         </div><!-- /input-group -->
       </form> 
    </div>
</div>