<h4>Acerca de</h4>
<p>
    Medicos El Salvador
</p>
<ul class="list-unstyled address-list">
    <li class="clearfix address">
        <i class="fa fa-home"></i>
        San Salvador. El Salvador
    </li>
    <li class="clearfix">
        <i class="fa fa-phone"></i>
        (503) 2130-6359
    </li>
    <li class="clearfix">
        <i class="fa fa-mobile"></i>
        (503) 7261-6977
    </li>
    <li class="clearfix">
        <i class="fa fa-envelope"></i>
        <a href="mailto:info@medicos.sv">info@medicos.sv</a>
    </li>
</ul>