<div class="container clearfix">
    <p class="pull-left">
        © Copyright {{ "now"|date('Y') }}. Todos los derechos reservados por <span>Medicos.sv</span>
    </p>
    <ul class="list-unstyled list-inline pull-right">
        <li><a href="{{path('web_terminos')}}"">Terminos de servicio</a></li>
        <li><a href="{{path('web_privacidad')}}">Privacidad</a></li>
        <li><a href="{{path('web_contactanos')}}">Contactanos</a></li>
    </ul>
</div>