<h4>Redes sociales</h4>
<ul class="list-unstyled">
    <li>
        <i class="fa fa-facebook"></i>
        <a target="_blank" href="https://www.facebook.com/Medicos-SV-119098122043685">Facebook</a>
    </li>
    <li>
        <i class="fa fa-twitter"></i>
        <a target="_blank" href="https://twitter.com/SvMedicos">Twitter</a>
    </li>
</ul>