<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="{{ path('web_doctores') }}">
            Doctores
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">General</a></li>
            <li><a href="#">Internista</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="{{ path('web_hospitales') }}">
            Hospitales
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Faq's</a></li>
            <li><a href="#">Typography</a></li>
            <li><a href="#">404 Page</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="{{ path('web_farmacias') }}">
            Farmacias
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">News</a></li>
            <li><a href="#">News Single Post</a></li>
        </ul>
    </li>
    <li><a href="{{ path('web_precios') }}">Precios</a></li>
    <li><a href="contact.html">Contáctanos</a></li>
</ul>