<div class="container clearfix">
    <p class="pull-left">
        © Copyright {{ "now"|date('Y') }}. All rights reserved by  <span>MedicNext.com</span>
    </p>
    <ul class="list-unstyled list-inline pull-right">
        <li><a href="{{path('web_terminos')}}">Termn of services</a></li>
        <li><a href="{{path('web_privacidad')}}">Privacy</a></li>
        <li><a href="{{path('web_contactanos')}}">Contact us</a></li>
    </ul>
</div>