<div class="container clearfix">
    <p class="pull-left">
        © Copyright {{ "now"|date('Y') }}. All Rights Reserved By <span>XYZ</span>
    </p>
    <ul class="list-unstyled list-inline pull-right">
        <li><a href="#">Terminos de servicio</a></li>
        <li><a href="#">Privacidad</a></li>
        <li><a href="contact.html">Contactanos</a></li>
    </ul>
</div>