{% extends "WebBundle::base.html.twig" %}
{%block topbar %}
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <span>Opening Hours:</span>  Mon To Fri - 9:00 - 20:00, Sat &amp; Sun - 10:00 - 15:00
        </div>
        <div class="col-sm-6 col-xs-12">
            <ul class="list-unstyled list-inline">
                <li><a href="mailto:care@yourhosptialsname.com">
                        <i class="fa fa-envelope-o"></i>
                        care@yourhosptialsname.com
                    </a></li>
                <li><i class="fa fa-phone"></i> Call Us: 1-800-123-4567</li>
            </ul>
        </div>
    {% endblock %}