<h4>Redes sociales</h4>
<ul class="list-unstyled tweets-list">
    <li>
        <i class="fa fa-twitter"></i>
        Our Hospitals Website Launched.
        <a href="#">http://t.co/xyz12abc</a>
    </li>
    <li>
        <i class="fa fa-twitter"></i>
        Our Hospitals Twitter Page, please follow.
        <a href="#">http://t.co/testlink</a>
    </li>
    <li>
        <i class="fa fa-twitter"></i>
        Our Hospitals Facebook Page, please like.
        <a href="#">http://t.co/abc123link</a>
    </li>
    <li>
        <i class="fa fa-twitter"></i>
        Our Hospitals Broucher Launched.
        <a href="#">http://t.co/xyz-test1</a>
    </li>
</ul>