<ul class="header-actions">
    <li class="actions-stretch-menu" id="action-stretch-menu">
        <div class="icon"></div>
    </li>
    <li class="actions-notification">
        <a class="dropdown-toggle" data-toggle="dropdown" title="Mails" href="#">
            <i class="pe-7s-mail"></i>
        </a>

        <!-- Notificaciones -->
        <ul class="dropdown-menu dropdown-arrow pull-right">
            <li>
                <div class="notification-header">
                    <div class="header-title">
                        Messages
                    </div>
                </div>
                <div class="notification-upperbody bg-danger">
                    <div class="widget bg-danger">
                        <div class="row">
                            <div class="col-lg-6 h-70 w-70 p-5 align-center">
                                <div>
                                    <img src="assets/img/avatars/andy.jpg" class="w-60 h-60" alt="Donald Tennyson">
                                </div>
                            </div>
                            <div class="col-lg-6 h-70 w-m-70 p-5 p-t-10">
                                <div class="">
                                    <strong class="f-13">
                                        Donald Tennyson
                                    </strong>
                                </div>
                                <div class="f-11">
                                    Senior Android Developer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notification-message">
                        <div class="message-title">
                            I'd like to add you to my professional network on LinkedIn.
                        </div>
                        <div class="message-time">
                            <i class="pe-7s-clock v-a-middle"></i>
                            1 day ago
                        </div>
                    </div>
                </div>
                <div class="notification-lowerbody">
                    <div class="notification-message">
                        <div class="message-title">
                            I really appreciate all your help in getting the restaurant ready for opening night.
                        </div>
                        <div class="message-time">
                            <i class="pe-7s-clock v-a-middle"></i>
                            1 min ago
                        </div>
                    </div>
                    <div class="notification-message">
                        <div class="message-title">
                            I am a friend of Emily Little and she encouraged me to forward my resume to you.
                        </div>
                        <div class="message-time">
                            <i class="pe-7s-clock v-a-middle"></i>
                            2 hours ago
                        </div>
                    </div>
                </div>
                <div class="notification-footer">
                    <a class="pull-left" href="">
                        <i class="pe-7s-angle-left-circle f-25"></i>
                    </a>
                    <a class="pull-right" href="">
                        <i class="pe-7s-angle-right-circle f-25"></i>
                    </a>
                </div>
            </li>
        </ul>
        <!-- Fin de las notificaciones -->
    </li>
    <li id="action-search">
        <a>
            <i class="pe-7s-search"></i>
        </a>
    </li>
    <li id="action-settings">
        <a>
            <i class="pe-7s-settings"></i>
        </a>
    </li>
    <li id="action-menu-collapse">
        <a>
            <i class="pe-7s-menu"></i>
        </a>
    </li>
    <li id="action-chat">
        <a>
            <i class="pe-7s-comment"></i>
        </a>
    </li>
    <li id="action-help">
        <a>
            <i class="pe-7s-help1"></i>
        </a>
    </li>
</ul>
