<div class="panel border-left-lg border-left-success">
    <div class="panel-heading">
        <h6 class="text-semibold no-margin-top"><i class="fa fa-user"></i> Buscar paciente</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body no-border no-padding-top">
        <form id="form_search_patients">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nombre o DUI" id="input_search_patients" autocomplete="off">
                <span class="input-group-btn">
                    <button class="btn bg-slate" type="submit" id="btn_search_patients"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div><!-- /input-group -->
        </form>
        <div id="result_search_patients"></div>
    </div>
</div> 
