{% block codejs %}
        <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a seccion" link
        var $addSeccLink = $('<button class="btn bg-teal-400 add_seccion_link">Añadir seccion</button>');
        var $newLinkLi = $('<li></li>').append($addSeccLink);


        $(document).ready(function() {
            console.log('x');
            
            // Get the ul that holds the collection of 'secciones'
            $collectionHolder = $('ul.secciones');
            

            // add the "add a seccion" anchor and li to the secciones ul
            $collectionHolder.append($newLinkLi);
            
            // add a delete link to all of the existing seccion form li elements
            $collectionHolder.find('li').each(function() {
                addSeccFormDeleteLink($(this));
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addSeccLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new seccion form (see next code block)
                addSeccForm($collectionHolder, $newLinkLi);
            });
        });
        
        function addSeccForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a seccion" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            
            // add a delete link to the new form
            addSeccFormDeleteLink($newFormLi);
        }
        
        function addSeccFormDeleteLink($seccFormLi) {
            var $removeFormA = $('<button class="btn btn-warning">Eliminar seccion</button>');
            $seccFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the seccion form
                $seccFormLi.remove();
            });
        }
        
        
    </script>
{% endblock %}
