{% extends "::base.html.twig" %}
  
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Nuevo Role</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('sysroles_index') }}">Back to the list</a>
                </li>
            </ul>
        
        </div>
    </div>
{% endblock %}

{% block codejs %}
    <script>
        $(function(){

          });
    </script>
{% endblock %} 