{#
================================================================================
No borrar esta plantilla
================================================================================
#}
{% if msg == 0 %}
    {#
    <div class="alert alert-danger alert-styled-left">
        Debe de seleccionar un establecimiento para hacer un buen uso de la herramienta de lo contrario tendrá problemas, seleccione uno pulsando <a href="{{ path("emr_location")}}">Aquí</a>
	</div>
    #}    
{% endif %}