/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2016, 12:36:17 PM
    Author     : Owner
*/

.checkbox label .checkbox-emr{
    left: 0px !important;
    opacity: 1 !important;
    position:relative !important
}
.btn-option-emr{
    padding-left: 0px;
}
.btn-option-emr li{
    list-style: none;
    display: inline-block;
    margin-right:8px; 
}

.dataTables_processing{
    padding-bottom: 40px !important;
}

/*
============================
Loading
============================
*/
#holder_loading {
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0,0,0,0.3);
    display:none;
}

#bg_loading {
    position:fixed;
    width: 40px;
    height: 38px;
    left:50%;
    margin-left: -20px;
    margin-top: -19px;
    top: 50%;
    z-index: 1001;
    background: #fff;
    padding: 2px;
    display:block;
    border: solid 1px #000;
    border-radius:4px;
}
.cssload-container {
	width: 100%;
	height: 31px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 31px;
	height: 31px;
	margin: 0 auto;
	border: 2px solid rgb(0,0,0);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

.datatable-reorder td{
    padding: 4px 8px !important;
}

.page-header-content .page-title{
    padding-top: 0px !important;
}

.section_location .dropdown-menu{
    min-width: 200px !important;
}

.panel-heading{
    
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}