{% extends "Layout/base_admin/_admin_base.html.twig" %}

{% block title_page %}
    EMR || Contabilidad
{% endblock %}

{% block body %}
    <!-- Search field -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Gestor de contabilidad</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">

            <div class="input-group content-group">
                <div class="has-feedback has-feedback-left">
                    <input id ="contabilidad_buscar_texto" type="text" class="form-control input-xlg" value="" placeholder="Nombre o ID de cliente">
                    <div class="form-control-feedback">
                        <i class="icon-search4 text-muted text-size-base"></i>
                    </div>
                </div>

                <div class="input-group-btn">
                    <button id="contabilidad_buscar" class="btn btn-primary btn-xlg">Buscar</button>
                </div>
            </div>

            <div class="row search-option-buttons">
                <div class="col-sm-3">
                    <select id="contabilidad_buscar_tipo" class="form-control">
                        <option value="1">Todas las facturas</option>
                        <option value="2">Facturas pendientes</option>
                        <option value="3">Facturas pagadas</option>
                    </select>
                </div>
                <div class="col-sm-9"></div>
            </div>
        </div>
        <!-- /search field -->
    </div>
    <div id="contabilidad_contenedor_resultados" class="row" style="display:none;">

        <div class="panel panel-body">
            <div id="contabilidad_resultados" ></div>
        </div>
    </div>

    {% include 'AdminBundle:contabilidad:modal.html.twig' %}

{% endblock %}

{% use 'AdminBundle:contabilidad:parte.js.twig' %}