{# https://codepen.io/dimbslmh/full/mKfCc long modal #}
<div id="modal_pago" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Procesar pago</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer" data-id="0">
                <button type="button" class="btn btn-primary"  data-dismiss="modal" data-estado='1'>Pagar</button>
                <button type="button" class="btn btn-warning"  data-dismiss="modal" data-estado='2'>Denegar</button>
                <button type="button" class="btn btn-danger"  data-dismiss="modal" data-estado='3'>Anular</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>

</div>