{% extends 'Layout/base_web/_web_base.html.twig' %}
{% block breadcrumb %}
    <!-- Breadcrumb Starts -->
    <div class="breadcrumb">
        <div class="container">
            <ul class="list-unstyled list-inline">
                <li><a href="index.html">Inicio</a></li>
                <li class="active">Hospitales</li>
            </ul>
        </div>
    </div>		
    <!-- Breadcrumb Ends -->
{% endblock %}
{% block filter %}
    <div class="row padding-top10">
        <form class="">
            <div class="col-lg-4 col-md-4 col-sm-12 padding-bottom10">
                <select class="form-control">
                    <option>Seleccionar Departamento</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                 </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 padding-bottom10">
                <select class="form-control">
                    <option>Seleccionar Categoria</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                 </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 padding-bottom10">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar Hospital">
                        <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Buscar</button>
                    </span>
                </div>
            </div>
        </form>    
    </div>
{% endblock %}
{%block body %}
    
 <!-- Doctors Bio List Starts -->
    <ul id="doctors-grid" class="row grid">
        {% for h in hospitales %}
        <!-- Doctor Bio #1 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12 doctors-grid" data-groups='["all", "healthcare"]'>
            <div class="bio-box">
                <div class="profile-img">
                    <img src="images/doctors/doctor-bio-img5.jpg" alt="Doctor" class="img-responsive img-center-sm img-center-xs">
                    <div class="overlay">
                        <ul class="list-unstyled list-inline sm-links">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="inner">
                    <h4>{{ h.usu_nombre }}</h4>
                    <p class="designation">{{ h.esp_especialidad }}</p>
                    <p class="divider"><i class="fa fa-plus-square"></i></p>
                    <p>
                        {{ h.usi_info_perfil }}
                    </p>
                </div>							
                <a href="doctor-profile.html" class="btn btn-secondary text-uppercase">Ver perfil de hospital</a>
            </div>
        </li>
        <!-- Doctor Bio #1 Ends -->
        {% endfor %}
    </ul>
    <!-- Doctors List Ends -->
{% endblock %}