
{% block breadcrumb  %}
    
        <ul class="breadcrumb">
            <li><a href=""><i class="icon-home2 position-left"></i> Administration</a></li>
            <li class="active">Client menu</li>
        </ul>

        <ul class="breadcrumb-elements">
            {# <li><a href="{{ path('menu_index') }}"><i class="glyphicon glyphicon-th-list position-left"></i> List</a></li> #}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gear position-left"></i>
                    Other Actions
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('menu_new') }}"><i class="fa fa-plus-circle"></i> New menu</a></li>
                    <li><a href="{{ path('menu_index') }}"><i class="glyphicon glyphicon-th-list"></i> List menu</a></li>
                    <li><a href="{{ path('menu_tree') }}"><i class="fa fa-sort-amount-asc"></i> Choose menu</a></li>
                    {#
                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                    #}
                </ul>
            </li>
        </ul>

{% endblock %}

